<%- include('../views/layout/head.ejs') %>
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <h1 style="text-align:center;color: white">Login App</h1>
        <br><br>
        <h4 style="text-align:center;color: white">Just a simple login app using passport.js</h4>
    </div>
    <div class="col-md-4">

    </div>
</div>
<%- include('../views/layout/foot.ejs') %>