<%- include('../views/layout/head.ejs') %>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
           <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThIvJd3uyogQm2PnmgamXC0iS5D6QL6J65YKfK8-EJT_FfD3N3"
              id="icon" alt="User Icon" style="height:60px;width:60px" />
        </div>

        <!-- Login Form -->
        <form action="/user/login" method="POST">
            <input type="text" id="password" class="fadeIn third" name="username" placeholder="username">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log in">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="/user/reset">Forgot Password?</a>
        </div>

    </div>
</div>
<%- include('../views/layout/foot.ejs') %>